@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,300&family=Sarabun:ital,wght@0,200;0,400;0,500;0,600;0,800;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2? family= Satisfy & display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sarabun", sans-serif;
}

html {
  height: 100%;
}

body {
  min-height: 100vh;
}

nav a {
  text-decoration: none;
}

li {
  list-style-type: none;
  margin-right: 20px;
  list-style-position: inside;
}

a {
  color: black;
}

body {
  background: url(../../imagenes/fondo_body.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgb(127, 200, 169);
}

@media (min-width: 375px) {
  .lados {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 85vh;
  }
  .lados .lado__logo {
    width: 100%;
    height: 20%;
    background-color: rgba(255, 255, 255, 0.358);
    display: flex;
    justify-content: center;
  }
  .lados .lado__header {
    width: 100%;
    height: 20%;
  }
  .lados .lado__header .nav__ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 5px;
  }
  .lados .lado__header .nav__ul .nav__item {
    background-color: rgba(127, 200, 170, 0.597);
    padding: 0 3px;
    border-radius: 5px;
  }
  .lados .lado__main {
    width: 100%;
    height: 50%;
  }
  .lados .lado__main .menu__titulo {
    display: none;
  }
  .lados .lado__main .parrafo__presentacion {
    padding: 0 30px;
    font-size: 1.2rem;
    font-family: "Satisfy", cursive;
    background-color: rgba(255, 255, 255, 0.585);
  }
}
@media (min-width: 992px) {
  .body__index {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 85% 15%;
    grid-template-areas: "lados lados" "footer footer";
  }
  .body__index .lados {
    grid-area: lados;
    width: 100%;
    height: 85vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-areas: "logo header" "logo header" "logo main" "logo main" "logo main";
  }
  .body__index .lados .lado__logo {
    grid-area: logo;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .body__index .lados .lado__header {
    grid-area: header;
    width: 90%;
    height: 80%;
    align-self: center;
    margin: 50px;
  }
  .body__index .lados .lado__header .nav__bar {
    width: 100%;
    height: 100%;
  }
  .body__index .lados .lado__header .nav__bar .nav__ul {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .body__index .lados .lado__main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    margin: 30px;
    width: 90%;
    height: 90%;
  }
  .body__index .lados .lado__main .parrafo__presentacion {
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    font-size: 1.2rem;
    font-family: "Satisfy", cursive;
    background-color: rgba(255, 255, 255, 0.585);
    margin: 0 30px 30px 30px;
  }
  .body__index .footer__index {
    width: 100%;
    height: 15vh;
    grid-area: footer;
  }
}
@media (min-width: 375px) {
  .contacto__section {
    display: flex;
    flex-direction: column;
  }
  .contacto__section .preguntas__section {
    background: rgb(127, 200, 183);
    background: linear-gradient(56deg, rgb(127, 200, 183) 22%, rgb(213, 238, 187) 44%, rgb(95, 122, 97) 85%);
    color: black;
    border: solid 2px grey;
    border-radius: 10px;
    margin: 50px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    justify-content: space-evenly;
  }
  .contacto__section .preguntas__section h2 {
    font-size: 1.2rem;
    font-family: "Satisfy", cursive;
  }
  .contacto__section .preguntas__section div li {
    list-style: circle;
  }
  .contacto__section .form__contacto {
    background: rgb(127, 200, 183);
    background: linear-gradient(56deg, rgb(127, 200, 183) 22%, rgb(213, 238, 187) 44%, rgb(95, 122, 97) 85%);
    color: black;
    border: solid 2px grey;
    border-radius: 10px;
    margin: 50px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    justify-content: space-evenly;
  }
  .contacto__section .form__contacto h2 {
    font-size: 1.2rem;
    font-family: "Satisfy", cursive;
  }
  .contacto__section .form__contacto .form__input {
    width: 70%;
    gap: 7px;
  }
}
@media (min-width: 992px) {
  .contacto__section {
    flex-direction: row;
  }
  .contacto__section .preguntas__section {
    width: 45%;
  }
  .contacto__section .form__section {
    width: 45%;
  }
}
.destinos__titulo {
  background-color: rgba(255, 255, 255, 0.576);
  margin: 5px 0;
  padding: 4px;
}

@media (min-width: 375px) {
  .body__destinos {
    min-height: 100vh;
    background-color: white;
  }
  .body__destinos footer {
    margin-top: auto;
  }
  .destinos__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .destinos__main .section__destinos {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
  .destinos__main .section__destinos div {
    width: 40%;
    height: 150px;
  }
}
@media (min-width: 992px) {
  .body__destinos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }
  .body__destinos .header__destinos {
    height: 15vh;
    display: flex;
    flex-direction: row;
  }
  .body__destinos .header__destinos .div__logo--pages {
    width: 100%;
  }
  .body__destinos .header__destinos .nav__bar__pages {
    background-color: rgba(255, 255, 255, 0);
  }
  .body__destinos .destinos__main {
    height: 75vh;
  }
  .body__destinos .destinos__main .section__destinos {
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: stretch;
    align-items: stretch;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-areas: "destino1 destino2 destino3" "destino1 destino2 destino3" "destino1 destino5 destino6" "destino4 destino5 destino6" "destino4 destino5 destino6";
  }
  .body__destinos .destinos__main .section__destinos div {
    width: auto;
    height: auto;
  }
  .body__destinos .destinos__main .section__destinos .caja__patagonia {
    grid-area: destino1;
  }
  .body__destinos .destinos__main .section__destinos .caja__litoral {
    grid-area: destino5;
  }
  .body__destinos .destinos__main .section__destinos .caja__cuyo {
    grid-area: destino3;
  }
  .body__destinos .destinos__main .section__destinos .caja__norte {
    grid-area: destino4;
  }
  .body__destinos .destinos__main .section__destinos .caja__cba {
    grid-area: destino2;
  }
  .body__destinos .destinos__main .section__destinos .caja__bsas {
    grid-area: destino6;
  }
  .body__destinos .footer__destinos {
    height: auto;
  }
}
@media (min-width: 375px) {
  .body__iniciar {
    min-height: 100vh;
  }
  .body__iniciar main .section__inicar {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.657);
    margin: 30px;
    padding: 20px;
    border-radius: 10px;
    border: solid 1px gray;
    width: 90%;
    height: 35%;
  }
  .body__iniciar main .section__inicar input {
    margin-top: 5px;
  }
  .body__iniciar .footer .footer__inicar {
    margin-bottom: auto;
    align-self: flex-end;
  }
}
@media (min-width: 576px) {
  .main__inicar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    padding: 5px;
  }
}
@media (min-width: 375px) {
  .somos__section {
    display: flex;
    flex-direction: column;
  }
  .opiniones__section {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 250, 250, 0.657);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;
  }
  .opiniones__section h3 {
    text-align: center;
    font-family: "Satisfy", cursive;
  }
  .opiniones__section p {
    text-align: center;
    font-family: "Satisfy", cursive;
  }
  .opiniones__section .opiniones {
    display: flex;
    flex-direction: column;
  }
  .opiniones__section .opiniones .opniones__dif {
    display: flex;
    flex-direction: column;
  }
  .section__ubicacion {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 250, 250, 0.657);
    margin: 10px;
    border: solid 1px gray;
    border-radius: 10px;
    padding: 5px 15px;
  }
  .section__ubicacion .ubicacion__titulo {
    text-align: center;
    font-family: "Satisfy", cursive;
  }
  .section__ubicacion .ubicacion__map {
    width: 80%;
    height: 50vh;
  }
}
@media (min-width: 992px) {
  .somos__section {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 375px) {
  .header__pages {
    background-color: rgba(255, 255, 255, 0.58);
    display: flex;
    flex-direction: column;
  }
  .header__pages .div__logo--pages {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header__pages .div__logo--pages img {
    width: 30%;
    height: 80%;
  }
  .header__pages .nav__bar__pages {
    background-color: rgb(127, 200, 169);
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
    width: 100vw;
  }
  .header__pages .nav__bar__pages h1 {
    display: none;
  }
  .header__pages .nav__bar__pages .nav__bar__ul--pages {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 5px 5px 0px 5px;
  }
}

.caja__destinos {
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.567);
  margin: 10px;
  padding: 10px;
  border: 3px solid rgba(255, 255, 255, 0.802);
  border-radius: 8px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.caja__destinos h3 {
  background-color: rgba(173, 164, 164, 0.601);
  padding: 3px;
  border-radius: 3px;
}
.caja__destinos h3 a {
  text-decoration: none;
  color: black;
  font-family: "Satisfy", cursive;
}

.caja__patagonia {
  background-image: url(../../imagenes/destinos/bariloche.jpg);
}

.caja__litoral {
  background-image: url(../../imagenes/destinos/litoral.jpg);
}

.caja__cuyo {
  background-image: url(../../imagenes/destinos/cuyo.jpg);
}

.caja__norte {
  background-image: url(../../imagenes/destinos/norte.jpg);
}

.caja__cba {
  background-image: url(../../imagenes/destinos/cordoba.jpg);
}

.caja__bsas {
  background-image: url(../../imagenes/destinos/buenos_aires.png);
}

.footer {
  width: 100%;
  height: 15vh;
  background-color: black;
  color: white;
  align-self: flex-end;
  margin-bottom: auto;
}
.footer .nuestras__redes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer .nuestras__redes .redes__titulo {
  font-size: 1rem;
}
.footer .nuestras__redes .redes__iconos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.boton {
  background-color: white;
  color: rgb(68, 73, 65);
  padding: 5px;
  border: solid 2px rgb(68, 73, 65);
  border-radius: 8px;
}

.boton:hover {
  background-color: rgb(68, 73, 65);
  color: white;
}

.animacion__ul {
  -webkit-animation: rotate-vert-center 1.5s;
  animation: rotate-vert-center 1.5s;
}

@-webkit-keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
@keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
.animacion__p-presentacion {
  -webkit-animation: tilt-in-tr 0.9s;
  animation: tilt-in-tr 0.9s;
}

@-webkit-keyframes tilt-in-tr {
  0% {
    -webkit-transform: rotateY(-35deg) rotateX(20deg) translate(250px, -250px) skew(-12deg, -15deg);
    transform: rotateY(-35deg) rotateX(20deg) translate(250px, -250px) skew(-12deg, -15deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-tr {
  0% {
    -webkit-transform: rotateY(-35deg) rotateX(20deg) translate(250px, -250px) skew(-12deg, -15deg);
    transform: rotateY(-35deg) rotateX(20deg) translate(250px, -250px) skew(-12deg, -15deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}
.animacion__logo {
  -webkit-animation: tilt-in-tl 0.65s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: tilt-in-tl 0.65s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes tilt-in-tl {
  0% {
    -webkit-transform: rotateY(35deg) rotateX(20deg) translate(-250px, -250px) skew(12deg, 15deg);
    transform: rotateY(35deg) rotateX(20deg) translate(-250px, -250px) skew(12deg, 15deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-tl {
  0% {
    -webkit-transform: rotateY(35deg) rotateX(20deg) translate(-250px, -250px) skew(12deg, 15deg);
    transform: rotateY(35deg) rotateX(20deg) translate(-250px, -250px) skew(12deg, 15deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}
.caja__bsas, .caja__cuyo {
  -webkit-animation: roll-in-left 2s ease-out both;
  animation: roll-in-left 2s ease-out both;
}

@-webkit-keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
.caja__patagonia, .caja__norte {
  -webkit-animation: roll-in-right 2s ease-out both;
  animation: roll-in-right 2s ease-out both;
}

@-webkit-keyframes roll-in-right {
  0% {
    -webkit-transform: translateX(800px) rotate(540deg);
    transform: translateX(800px) rotate(540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes roll-in-right {
  0% {
    -webkit-transform: translateX(800px) rotate(540deg);
    transform: translateX(800px) rotate(540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
.caja__litoral {
  -webkit-animation: roll-in-top 2s ease-out both;
  animation: roll-in-top 2s ease-out both;
}

@-webkit-keyframes roll-in-top {
  0% {
    -webkit-transform: translateY(-800px) rotate(-540deg);
    transform: translateY(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes roll-in-top {
  0% {
    -webkit-transform: translateY(-800px) rotate(-540deg);
    transform: translateY(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
}
.caja__cba {
  -webkit-animation: roll-in-bottom 2s ease-out both;
  animation: roll-in-bottom 2s ease-out both;
}

@-webkit-keyframes roll-in-bottom {
  0% {
    -webkit-transform: translateY(800px) rotate(540deg);
    transform: translateY(800px) rotate(540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes roll-in-bottom {
  0% {
    -webkit-transform: translateY(800px) rotate(540deg);
    transform: translateY(800px) rotate(540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
}
header nav ul li a:hover {
  color: white;
}

/*# sourceMappingURL=style.css.map */
