@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,300&family=Sarabun:ital,wght@0,200;0,400;0,500;0,600;0,800;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2? family= Satisfy & display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sarabun", sans-serif;
}

body {
  height: 100vh;
}

nav a {
  text-decoration: none;
}

li {
  list-style-type: none;
  margin-right: 20px;
  list-style-position: inside;
}

a {
  color: black;
}

body {
  background: url(../../imagenes/fondo_body.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgb(127, 200, 169);
}

@media (min-width: 375px) {
  .lados {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 85vh;
  }
  .lados .lado__logo {
    width: 100%;
    height: 20%;
    background-color: rgba(255, 255, 255, 0.358);
    display: flex;
    justify-content: center;
  }
  .lados .lado__header {
    width: 100%;
    height: 20%;
  }
  .lados .lado__header .nav__ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .lados .lado__header .nav__ul .nav__item {
    background-color: rgba(127, 200, 170, 0.597);
    padding: 0 5px;
  }
  .lados .lado__main {
    width: 100%;
    height: 50%;
  }
  .lados .lado__main .menu__titulo {
    visibility: hidden;
  }
  .lados .lado__main .parrafo__presentacion {
    padding: 0 30px;
    font-size: 1.2rem;
    font-family: "Satisfy", cursive;
    background-color: rgba(255, 255, 255, 0.585);
  }
}
@media (min-width: 992px) {
  .body__index {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 85% 15%;
    grid-template-areas: "lados lados" "footer footer";
  }
  .body__index .lados {
    grid-area: lados;
    width: 100%;
    height: 85vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-areas: "logo header" "logo header" "logo main" "logo main" "logo main";
  }
  .body__index .lados .lado__logo {
    grid-area: logo;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .body__index .lados .lado__header {
    grid-area: header;
    width: 100%;
    height: 80%;
    align-content: center;
  }
  .body__index .lados .lado__header .nav__bar {
    width: 100%;
    height: 100%;
  }
  .body__index .lados .lado__header .nav__bar .nav__ul {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .body__index .lados .lado__main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    margin: 30px;
    width: 100%;
    height: 100%;
  }
  .body__index .lados .lado__main .parrafo__presentacion {
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    font-size: 1.2rem;
    font-family: "Satisfy", cursive;
    background-color: rgba(255, 255, 255, 0.585);
    margin: 0 30px 30px 30px;
  }
  .body__index .footer__index {
    width: 100%;
    height: 15vh;
    grid-area: footer;
  }
}
@media (min-width: 375px) {
  .contacto__section {
    display: flex;
    flex-direction: column;
  }
  .contacto__section .preguntas__section {
    background: rgb(127, 200, 183);
    background: linear-gradient(56deg, rgb(127, 200, 183) 22%, rgb(213, 238, 187) 44%, rgb(95, 122, 97) 85%);
    color: black;
    border: solid 2px grey;
    border-radius: 10px;
    margin: 50px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    justify-content: space-evenly;
  }
  .contacto__section .preguntas__section h2 {
    font-size: 1.2rem;
    font-family: "Satisfy", cursive;
  }
  .contacto__section .preguntas__section div li {
    list-style: circle;
  }
  .contacto__section .form__contacto {
    background: rgb(127, 200, 183);
    background: linear-gradient(56deg, rgb(127, 200, 183) 22%, rgb(213, 238, 187) 44%, rgb(95, 122, 97) 85%);
    color: black;
    border: solid 2px grey;
    border-radius: 10px;
    margin: 50px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    justify-content: space-evenly;
  }
  .contacto__section .form__contacto h2 {
    font-size: 1.2rem;
    font-family: "Satisfy", cursive;
  }
  .contacto__section .form__contacto .form__input {
    width: 70%;
    gap: 7px;
  }
}
@media (min-width: 992px) {
  .contacto__section {
    flex-direction: row;
  }
  .contacto__section .preguntas__section {
    width: 45%;
  }
  .contacto__section .form__section {
    width: 45%;
  }
}
@media (min-width: 375px) {
  .header__pages {
    background-color: rgba(255, 255, 255, 0.58);
    display: flex;
    flex-direction: column;
  }
  .header__pages .div__logo--pages {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header__pages .div__logo--pages img {
    width: 30%;
    height: 80%;
  }
  .header__pages .nav__bar__pages {
    background-color: rgb(127, 200, 169);
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
    width: 100vw;
  }
  .header__pages .nav__bar__pages h1 {
    display: none;
  }
  .header__pages .nav__bar__pages .nav__bar__ul--pages {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 5px 5px 0px 5px;
  }
}

.caja__destinos {
  background-color: white;
  margin: 10px;
  width: 30%;
  height: 500px;
  padding: 10px;
}
.caja__destinos h3 {
  font-family: "Satisfy", cursive;
}
.caja__destinos .destinos__imagen {
  width: 100%;
  height: 30%;
  object-fit: cover;
}
.caja__destinos p {
  font-family: "Satisfy", cursive;
  height: 50%;
}

.footer {
  width: 100%;
  height: 15vh;
  background-color: black;
  color: white;
}
.footer .nuestras__redes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer .nuestras__redes .redes__titulo {
  font-size: 1rem;
}
.footer .nuestras__redes .redes__iconos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.boton {
  background-color: white;
  color: rgb(68, 73, 65);
  padding: 5px;
  border: solid 2px rgb(68, 73, 65);
  border-radius: 8px;
}

.boton:hover {
  background-color: rgb(68, 73, 65);
  color: white;
}

/*# sourceMappingURL=style.css.map */
