.caja__destinos {
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.567);
  margin: 10px;
  padding: 10px;
  border: 3px solid rgba(255, 255, 255, 0.802);
  border-radius: 8px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  h3 {
    background-color: rgba(173, 164, 164, 0.601);
    padding: 3px;
    border-radius: 3px;
    a {
      text-decoration: none;
      color: black;
      font-family: "Satisfy", cursive;
    }
  }
}
.caja__patagonia {
  background-image: url(../../imagenes/destinos/bariloche.jpg);
}
.caja__litoral {
  background-image: url(../../imagenes/destinos/litoral.jpg);
}
.caja__cuyo {
  background-image: url(../../imagenes/destinos/cuyo.jpg);
}
.caja__norte {
  background-image: url(../../imagenes/destinos/norte.jpg);
}
.caja__cba {
  background-image: url(../../imagenes/destinos/cordoba.jpg);
}
.caja__bsas {
  background-image: url(../../imagenes/destinos/buenos_aires.png);
}
