.footer{
    width: 100%;
    height: 15vh;
    background-color: black;
    color: white;

    .nuestras__redes{
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      .redes__titulo{
        font-size: 1rem;
      }

      .redes__iconos{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
    }
}