body {
  background: url(../../imagenes/fondo_body.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: $color-primario;
}

@media (min-width: 375px) {
  .lados {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 85vh;

    .lado__logo {
      width: 100%;
      height: 20%;
      background-color: rgba(255, 255, 255, 0.358);
      display: flex;
      justify-content: center;
    }

    .lado__header {
      width: 100%;
      height: 20%;

      .nav__ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        .nav__item {
          background-color: rgba(127, 200, 170, 0.597);
          padding: 0 5px;
        }
      }
    }

    .lado__main {
      width: 100%;
      height: 50%;

      .menu__titulo {
        visibility: hidden;
      }

      .parrafo__presentacion {
        padding: 0 30px;
        font-size: 1.2rem;
        font-family: "Satisfy", cursive;
        background-color: rgba(255, 255, 255, 0.585);
      }
    }
  }
}

@media (min-width: 992px) {
  .body__index {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 85% 15%;
    grid-template-areas:
      "lados lados"
      "footer footer";

    .lados {
      grid-area: lados;
      width: 100%;
      height: 85vh;
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 20% 20% 20% 20% 20%;
      grid-template-areas:
        "logo header"
        "logo header"
        "logo main"
        "logo main"
        "logo main";

      .lado__logo {
        grid-area: logo;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .lado__header {
        grid-area: header;
        width: 100%;
        height: 80%;
        align-content: center;

        .nav__bar {
          width: 100%;
          height: 100%;

          .nav__ul {
            width: 100%;
            height: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }

      .lado__main {
        grid-area: main;
        display: flex;
        flex-direction: column;
        margin: 30px;
        width: 100%;
        height: 100%;

        .parrafo__presentacion {
          justify-content: center;
          align-items: flex-start;
          padding: 10px;
          font-size: 1.2rem;
          font-family: "Satisfy", cursive;
          background-color: rgba(255, 255, 255, 0.585);
          margin: 0 30px 30px 30px;
        }
      }
    }

    .footer__index {
      width: 100%;
      height: 15vh;
      grid-area: footer;
    }
  }
}
