body {
  background: url(../../imagenes/fondo_body.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow-x:hidden;
}
@media (min-width: 375px) {
.lados{
  display: flex;
  flex-direction: column;


  .lado__logo{
    width: 100%;
    height: 20%;
    background-color: rgba(255, 255, 255, 0.358);
    display: flex;
    justify-content: center;


  }

  .lado__header{
    width: 100%;
    height: 20%;
    
    .nav__ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    .nav__item{
      background-color: rgba(127, 200, 170, 0.597);
      padding: 0 5px;
    }
    }
  }

  main{
    width:100% ;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.585);

    .menu__titulo{
      visibility: hidden;
    }

    .parrafo__presentacion{
      padding: 0 30px;
      font-size: 1.2rem;
      font-family: 'Satisfy', cursive;
    }
  }

  
  }
.footer{
    width: 100%;
    height: auto;
    background-color: black;
    color: white;

    .nuestras__redes{
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      .redes__titulo{
        font-size: 1rem;
      }
    }
}
}


  /*
@media (min-width: 375px) and (max-width: 991px) {

  .lados{
    width: 100vh;
    height: 90vh;
    .lado__header{
      width: 100vh;
    }
  }

  .nav__ul{
    display: flex;
    flex-flow: row wrap;
  }

  .lado__logo {
    display: none;
    width:50%;
    height: 90vh;
  }

  .navbar-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  /*h1 {
    visibility: hidden;
  }*/
       /*
  a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
  }

  .menu__item {
    padding: 0 5px;
  }

  .footer {
    background-color: black;
    width: 100%;
    height: auto;
  }
}

@media (min-width: 992px) {
  .lados {
    display: flex;
    flex-direction: row;
  }
  .lado__logo {
    background-color: rgba(255, 255, 255, 0.421);
    width: 50%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .lado__logo__img {
    width: 60%;
  }
  .lado__header {
    width: 50%;
    height: 90%;
  }

  .navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  h1 {
    visibility: hidden;
  }
}


*/
