@media (min-width:375px){
    .body__iniciar{
        min-height: 100vh;
    }

    main .section__inicar{
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.657);
        margin: 30px;
        padding: 20px;
        border-radius: 10px;
        border: solid 1px gray;
        width: 90vh;
        height: 35%;
    }

    .footer .footer__inicar{
        margin-bottom: auto;
        align-self: flex-end;
    }
}

@media (min-width: 576px){
    main{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
    }
}