@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,300&family=Sarabun:ital,wght@0,200;0,400;0,500;0,600;0,800;1,300&display=swap");

* {
  margin: 1;
  padding: 0;
  font-family: "Sarabun", sans-serif;
  box-sizing: border-box;
}

body{
  /*background-image: url(../fondospantalla/fondo9.jpg);
  background-size: cover;*/
  background-color: rgb(246, 246, 201);

}

/* Prenav */
  .prenav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: 1200px) {
    .prenav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  /*NAV*/

    .menu {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      background-color: rgb(24, 39, 71);
    }

    ul{
      list-style: none;
    }

    .menu_item.active a {
      text-decoration: underline double;
    }

    .nav{
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
        align-items:center;
        margin: 10px;
        
      }


@media (min-width: 1200px){
  
  .menu{
    background-color:rgb(24, 39, 71);
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    
  }

  .menu_item.active a {
    text-decoration: underline double;
  }

  .nav{
      display: flex;
      flex-direction: row;
      justify-content:space-evenly;
      align-items:center;
      margin: 10px;
      
    }

}

/*Medios de pago*/
  .mediospago{
    background-color: rgb(79, 160, 149);
  }
  .medio__pago{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    
  }


@media (min-width: 1200px){
  .mediospago{
    background-color: rgb(79, 160, 149);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    padding: 20px;
  }
}

main {
  padding: 20px;
}

/*DESTINOS Nacionales e internacionales*/

.destinos_mundo{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.destinos_inter_nacio {
  width: 400px;
  background-color: rgb(186, 209, 194);
  padding: 30px;
  margin: 20px;
  border-radius: 10px;
  
}

.destinos_inter_nacio:hover{
  transform: scale(1.2);
  transition-duration: 1s;
  box-shadow: 0 0 20px rgba(128, 128, 128, 0.529);
}

.destinos_imagen {
  width: 100%;
}

.destinos_titulo {
  font-size: 30px;
}

.destinos_parrafo {
  font-size: 20px;
}

.destinos_boton {
  background-color: rgb(24, 39, 71);
  border: none;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.destinos_boton:hover{
  background-color:black;
  color: white;
}

.destinos_boton,
.destinos_imagen,
.destinos_parrafo {
  margin-bottom: 10px;
}

/*ESCAPADA*/

.destinos__escapada{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.caja__escapada {
  width: 300px;
  background-color:rgb(186, 209, 194);
  padding: 30px;
  margin-top: 20px;
  border-radius: 10px;
}

.caja__escapada:hover{
  transform: scale(1.2);
  transition-duration: 1s;
  box-shadow: 0 0 20px rgba(128, 128, 128, 0.529);
  
}

.escapada_imagen {
  width: 100%;
}

.escapada_titulo {
  font-size: 30px;
}

.escapada_ref {
  background-color: rgb(24, 39, 71);
  border: none;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}
.escapada_ref:hover{
  background-color:black;
  color: white;
}

.escapada_ref,
.escapada_imagen {
  margin-bottom: 10px;
}
/*TODOS LOS DESTINOS GRANDES RESOLUCIONES*/

@media (min-width: 1200px){

  .destinos{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }

}

/*FOOTER*/
footer {
  background-color: rgb(79, 160, 149);
}

nav a {
  text-decoration: none;
}

li {
  list-style-type: none;
  margin-right: 20px;
  list-style-position: inside;
}

a {
  color: black;
}

.horarios p {
  height: 100vh;
  width: 100%;
  background-image: url(../imagenes/restaurante-la-borda-2-1559808918.jpg);
  background-size: cover;
  color: blanchedalmond;
  text-align: center;
}

.ultima {
  background-color: rgba(27, 27, 108, 0.807);
}

.menu_item.active a {
  text-decoration: underline double;
}
/* QUIENES SOMOS */

.quienes_somos {
  background-color: rgb(86, 43, 8);
  margin: 10px;
  padding: 10px;
}

.opiniones div {
  background-color: rgb(100, 126, 104);
  margin: 10px;
  padding: 10px;
  width: 20%;
  display: inline-block;
}

.opiniones p {
  margin: 10px;
}

.ubicacion {
  background-color: rgba(27, 27, 108, 0.807);
  width: 700px;
  padding: 10px;
}

.ubicacion_map {
  width: 100%;
  margin: 10px;
  padding: 20px;
}

/*DESTINOS.HTML*/

.destinos__totales{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

.caja_destinos_nacio{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media (min-width: 1200px){
  .destinos__totales{
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  }
}



